<div class="dropdown-wrapper">
  <!-- Trigger -->
  <div (click)="toggle()" class="dropdown-trigger">
    <ng-content select="[trigger]"></ng-content>
  </div>

  <!-- Dropdown Menu -->
  @if (isOpen()) {
    <div
      class="dropdown-menu"
      >
      <div class="dropdown-menu-content">
        @for (item of items; track item; let last = $last) {
          <!-- Item -->
          @if (!item.divider) {
            <a
              (click)="onItemClick(item)"
              class="dropdown-item"
              >
              <div class="dropdown-item-flex">
                @if (item.icon) {
                  <span class="dropdown-icon">{{ item.icon }}</span>
                }
                <span>{{ item.label | translate }}</span>
              </div>
            </a>
          }
          <!-- Divider -->
          @if (item.divider || (item.action === 'divider')) {
            <div class="border-t border-border my-1"></div>
          }
        }
      </div>
    </div>
  }
</div>
