<ng-template
  #SetTPSLContent
  let-pos="position"
  let-priceAt="priceAt"
  let-selectedPrice="selectedPrice"
>
  <div class="flex flex-row gap-2 w-full">
    <div class="flex flex-col gap-1 text-sm">
      <span> unRealizedProfit: {{ priceAt | number: '1.2-2' }} </span>
      <span> PnL: {{ pnl() | number: '1.2-2' }} </span>
    </div>
    @if (
      (selectedPrice > +pos.entryPrice && pos.isLong) ||
      (selectedPrice < +pos.entryPrice && !pos.isLong)
    ) {
      <app-button btnType="success" size="SM" (btnClick)="executeOrder('TP')">
        {{ 'COMMON.TAKE_PROFIT' | translate }}
      </app-button>
    } @else {
      <app-button btnType="warning" size="SM" (btnClick)="executeOrder('SL')">
        {{ 'COMMON.STOP_LOSS' | translate }}
      </app-button>
    }
  </div>
</ng-template>

@if (showMenu()) {
  <div #pricePopup class="menu">
    <!-- header -->
    <div class="header">
      <span class="text-text-muted">Selected Price:</span>
      <span class="font-bold text-primary">{{ selectedPrice() }}</span>
    </div>

    <!-- body menu -->
    <div class="body">
      @if (position(); as pos) {
        <!-- action SL/TP for position -->
        <ng-container
          *ngTemplateOutlet="
            SetTPSLContent;
            context: {
              position: pos,
              priceAt: priceAt(),
              selectedPrice: selectedPrice(),
            }
          "
        ></ng-container>
      } @else {
        <!-- action place new order -->
      }
      <div>
        <app-button btnType="success" size="SM" (btnClick)="addMarkedPrice()">
          {{ 'COMMON.MARKED_PRICE' | translate }}
        </app-button>
      </div>
    </div>
  </div>
}
