<div
  #pricePopup
  class="absolute top-14 left-4 z-10 bg-background-light dark:bg-background-dark border border-border-light dark:border-border-dark p-2 rounded shadow-md text-sm flex items-center gap-2"
>
  <span class="text-text-muted">Selected Price:</span>
  <span class="font-bold text-primary">{{
    selectedPrice | number: '1.2-8'
  }}</span>
  <button
    class="ml-2 text-text-muted hover:text-danger"
    (click)="closePopup.emit()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</div>
