@if (showMenu()) {
  <div #pricePopup class="menu">
    <!-- header -->
    <div class="header">
      <span class="text-text-muted">Selected Price:</span>
      <span class="font-bold text-primary">{{ selectedPrice() }}</span>
    </div>

    <!-- body menu -->
    <div class="body">
      @if (!!position()) {
        <!-- action SL/TP for position -->
        <span> Long {{ priceAt() }} </span>
        @if (
          (selectedPrice() > entryPrice() && isLong()) ||
          (selectedPrice() < entryPrice() && !isLong())
        ) {
          <app-button
            btnType="success"
            size="SM"
            (btnClick)="executeOrder('TP')"
          >
            {{ 'COMMON.TAKE_PROFIT' | translate }}
          </app-button>
        } @else {
          <app-button
            btnType="warning"
            size="SM"
            (btnClick)="executeOrder('SL')"
          >
            {{ 'COMMON.STOP_LOSS' | translate }}
          </app-button>
        }
      } @else {
        <!-- action place new order -->
      }
    </div>
  </div>
}
